img {
    height: 40px;
    width: 40px;
}
div.sticky
{   min-width: 450px;
    position:sticky;
    top:0;
    z-index: 100;
    text-align: center;
    background-color: white;
}
#navbar{
    min-width: 450px;
    position: sticky;
    top : 6vh;
    border: 0;
}
button{
    background-color: transparent;
    height: 5vh;
}
