<body>
    <div class="savelife">
        <p>Stay Home <label>Stay Safe</label></p>
    </div>
    <div class="datetime"> {{mydate|date:'medium'}}</div>
    <div class="summary">
        <table id="summaryTable" class="table table-condensed w-auto">
            <thead>
                <tr>
    
                    <th style="color: rgb(238, 75, 16);" >Confirmed</th>
                    <th style="color: rgb(99, 128, 214); ">Active</th>
                    <th style="color: rgb(4, 179, 4);" >Recovered</th>
                    <th style="color: gray; ">Deceased</th>
                </tr>
            </thead>
            <tbody *ngFor="let t of total">
                <tr >
                    <td style="color: rgb(238, 75, 16);">{{t.confirmed}}<p *ngIf="t.deltaConfirmed!=0" style="font-size: small; color: rgb(238, 75, 16);">[+{{t.deltaConfirmed}}]</p></td>
                    <td style="color: rgb(99, 128, 214);" >{{t.active}}<p style="font-size: small;">&nbsp;</p></td>
                    <td style="color: rgb(4, 179, 4);" >{{t.recovered}}<p *ngIf="t.deltaRecovered!=0" style="font-size: small; color: rgb(8, 158, 8);">[+{{t.deltaRecovered}}]</p></td>
                    <td style="color: gray;">{{t.deceased}}<p *ngIf="t.deltaDeaths!=0" style="font-size: small; color: gray;">[+{{t.deltaDeaths}}]</p></td>
                </tr>
                <tr>
                    <td style="font-size: small;text-align: end;" colspan=4>Last updated at:{{t.lastUpdated}}</td>
                </tr>
            </tbody>    
        </table>
    </div>
        <table class="table table-condensed w-auto" id="statewise">
            <thead>
                <tr>
                <th style="color: white"></th>
                <th style="color: gray;">State/UT</th>
                <th style="color: gray;">Confirmed</th>
                <th style="color: gray;">Active</th>
                <th style="color: gray;">Recovered</th>
                <th style="color: gray;">Deceased</th>
            </tr>
            </thead>
            <tbody *ngFor="let state of statewiseTemp; let i = index" >
                <tr *ngIf="i%2==0" style="background-color: rgb(229, 226, 226);" (click)="getStateDetails(state.name,i,state.statecode)" >
                    <td style="font-size: small;"><strong>{{arrow[i]}}</strong></td>
                    <td style="text-align: left;">{{state.name}}</td>
                    <td style="text-align: right;"><strong *ngIf="state.deltaConfirmed!=0" style="font-size: small; color: rgb(238, 75, 16);">&uarr;{{state.deltaConfirmed}}&nbsp;</strong>{{state.confirmed}}</td>
                    <td style="text-align: right;">{{state.active}}</td>
                    <td style="text-align: right;" ><strong *ngIf="state.deltaRecovered!=0" style="font-size: small; color: green;">&uarr;{{state.deltaRecovered}}&nbsp;</strong>{{state.recover}}</td>
                    <td style="text-align: right;"><strong *ngIf="state.deltaDeaths!=0" style="font-size: small; color: gray;">&uarr;{{state.deltaDeaths}}&nbsp;</strong>{{state.deceased}}</td> 
                       
                </tr>
                <tr *ngIf="i%2==1" style="background-color: rgb(248, 245, 245);" (click)="getStateDetails(state.name,i,state.statecode)" >
                    <td style="font-size: small;"><strong>{{arrow[i]}}</strong></td>
                    <td style="text-align: left;">{{state.name}}</td>
                    <td style="text-align: right; "><strong *ngIf="state.deltaConfirmed!=0" style="font-size: small; color: rgb(238, 75, 16);">&uarr;{{state.deltaConfirmed}}&nbsp;</strong>{{state.confirmed}}</td>
                    <td style="text-align: right; ">{{state.active}}</td>
                    <td style="text-align: right; " ><strong *ngIf="state.deltaRecovered!=0" style="font-size: small; color: green;">&uarr;{{state.deltaRecovered}}&nbsp;</strong>{{state.recover}}</td>
                    <td style="text-align: right; "><strong *ngIf="state.deltaDeaths!=0" style="font-size: small; color: gray;">&uarr;{{state.deltaDeaths}}&nbsp;</strong>{{state.deceased}}</td>
                </tr>
                <tr *ngIf="stateno[i]==1">
                <!-- <div class="state{{i}}" > -->
                    <td colspan="6">
                    <table id="districtwise" class="table w-auto">
                        <thead>
                            <tr>
                            <th style="color: gray;">District</th>
                            <th style="color: gray;">Confirmed</th>
                            <th style="color: gray;">Active</th>
                            <th style="color: gray;">Recovered</th>
                            <th style="color: gray;">Deceased</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let district of districtDataTemp; let i = index; let zone in " >
                            <tr *ngIf="i%2==0 && district.statecode==state.statecode" style="background-color: rgb(229, 226, 226);">
                                <td *ngIf="district.zone == 'Red'" style="text-align: left;background-color: rgb(255, 185, 185);color: rgb(241, 68, 68);"><b>{{district.name}}</b></td>
                                <td *ngIf="district.zone == 'Orange'" style="text-align: left;background-color: rgb(250, 211, 174);color: rgb(252, 173, 26);"><b>{{district.name}}</b></td>
                                <td *ngIf="district.zone == 'Green'" style="text-align: left;background-color: rgb(198, 252, 201); color:rgb(64, 172, 64)"><b>{{district.name}}</b></td>
                                <td *ngIf="district.zone == ''" style="text-align: left;"><b>{{district.name}}</b></td>
                                <td style="text-align: right;"><strong *ngIf="district.deltaConfirmed!=0" style="font-size: small; color: rgb(238, 75, 16);">&uarr;{{district.deltaConfirmed}}&nbsp;</strong>{{district.confirmed}}</td>
                                <td style="text-align: right;">{{district.active}}</td>
                                <td style="text-align: right;" ><strong *ngIf="district.deltaRecovered!=0" style="font-size: small; color: green;">&uarr;{{district.deltaRecovered}}&nbsp;</strong>{{district.recovered}}</td>
                                <td style="text-align: right;"><strong *ngIf="district.deltaDeaths!=0" style="font-size: small; color: gray;">&uarr;{{district.deltaDeaths}}&nbsp;</strong>{{district.deceased}}</td>
                            </tr>
                            <tr *ngIf="i%2==1 && district.statecode==state.statecode" style="background-color: rgb(248, 245, 245);">
                                <td *ngIf="district.zone == 'Red'" style="text-align: left;background-color: rgb(255, 185, 185);color: rgb(241, 68, 68);"><b>{{district.name}}</b></td>
                                <td *ngIf="district.zone == 'Orange'" style="text-align: left;background-color: rgb(252, 211, 174);color: rgb(252, 173, 26);"><b>{{district.name}}</b></td>
                                <td *ngIf="district.zone == 'Green'" style="text-align: left;background-color: rgb(198, 252, 201);color:rgb(64, 172, 64)"><b>{{district.name}}</b></td>
                                <td *ngIf="district.zone == ''" style="text-align: left;"><b>{{district.name}}</b></td>
                                <td style="text-align: right; "><strong *ngIf="district.deltaConfirmed!=0" style="font-size: small; color: rgb(238, 75, 16);">&uarr;{{district.deltaConfirmed}}&nbsp;</strong>{{district.confirmed}}</td>
                                <td style="text-align: right; width: 30px; ">{{district.active}}</td>
                                <td style="text-align: right; " ><strong *ngIf="district.deltaRecovered!=0" style="font-size: small; color: green;">&uarr;{{district.deltaRecovered}}&nbsp;</strong>{{district.recovered}}</td>
                                <td style="text-align: right; "><strong *ngIf="district.deltaDeaths!=0" style="font-size: small; color: gray;">&uarr;{{district.deltaDeaths}}&nbsp;</strong>{{district.deceased}}</td>
                            </tr>
                        </tbody>

                    </table>
                    </td>
                <!-- </div> -->
                </tr>
            </tbody>
        </table>
</body>