/* @media only screen and (max-width: 600px){
  #summaryTable{
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    word-spacing: normal;
    max-width: 500px;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
} */
.main{
    width: 100%;
  }
  .datetime{
      text-align: center;
      font-size: 20px;
      color: gray;
      min-width: 400px;
  }
  .savelife{
    min-width: 400px;

  }
  .savelife p{
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        color: gray;

  }
  .savelife label{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: blueviolet;
}
  .summary{
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
  }

  #summaryTable{
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    word-spacing: normal;
    max-width: 500px;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
#summaryTable thead > tr > th{
  text-align: center;
  font-weight: 700;
  line-height: 3em;
}
#summaryTable tbody > tr >td  {
  text-align: center;
  font-size: x-large;
  font-weight: 700;
 
}
table#statewise{
   display: table;
   margin-top: 10px;
   padding: 0;
   word-spacing: normal;
   word-break: keep-all;
   max-width: 400px;
   }

#statewise{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 10;
  word-spacing: normal;
  table-layout: auto;
  max-width: 500px;
}
#statewise td {
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  color: gray;
  font-size: medium;
  line-break: normal;
}
#statewise tbody tr td:hover{
  background-color: rgba(219, 217, 217, 0.925);
  cursor: pointer;
}

#statewise thead tr th {
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  position: sticky;
  top: 14vh;
  background-color: solid white;
}

#statewise th {
  text-align: left;
  background-color: rgb(243, 243, 243);
} 

#districtwise{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  max-width: 480px;
}
#districtwise td {
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  color: gray;
  font-size: medium;
}
#districtwise tbody tr td:hover{
  background-color: rgba(219, 217, 217, 0.925);
  cursor: default;
}

#districtwise thead tr th {
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
  position: static;
  text-align: center;
}

#districtwise th {
  text-align: left;
  background-color: rgb(243, 243, 243);  
}
